networkFiles/*
*.tar.gz 
besu-*/
jdk-*/
*.jfr
genesis.json
Permissioned-Network/
node_modules
.env
*.id

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Dependências do Node.js
node_modules/

# Ficheiros de log do npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Ficheiros de ambiente
.env
.env.*
!.env.example

# Ficheiros gerados pela build
dist
build

# Ficheiros e diretórios do JMeter
apache-jmeter-*/
*.jtl
*.csv
*.txt
jmeter_runs/
jmeter_consolidated_resource_summary.log
temp_eth_gen/
config/
builders/
bin/
results/